$small: 480px;
$medium: 768px;
$large: 1400px;

.card {
    display: flex;
    width: 140px;
    cursor: pointer;
    flex-direction: column;
    position: relative;

    .preview {
      position: absolute;
      right: -152%;
      top: 10%;
      width: 16rem;
      height: 60%;
      background: #151F2E;
      color: white;
      border-radius: 10px;
      z-index: 100;
      padding: 1rem 1.2rem 1.2rem 1.2rem;
      flex-direction: column;
      justify-content: space-between;
      opacity: 0;

      .topPreviewContainer {
        h2 {
          margin: 0;
        }
        .ratingContainer {
          font-size: 0.85rem;
          margin-bottom: 0.6rem;
        }
      }

      .genreContainer {
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: center;
        gap: 0.4rem;
        button {
          font-size: 0.6rem;
          font-weight: bold;
          border-radius: 10px;
          border:1px solid gray;

          padding: 0.3rem 0.5rem 0.3rem 0.5rem;
          box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
          text-align: center;
          
        }
      }
    }

    .previewLeft {
      right: 110%;

    }

    .title {
      font-size: 0.8rem;
      margin-top: 0.4rem;
      max-width: 25ch;
    }
  
    .imageContainer {
      width: 140px;
      height: 220px;
      
      position: relative;
      border-radius: 20px;
      transition: transform .3s;
      
      .rank {
        position: absolute;
        top: -5%;
        left: -8%;
        width: 2rem;
        height: 2rem;
        background: #3480EA;
        color: white;
        border-radius: 20px;
        font-size: 0.7rem;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-weight: bold;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
      }

      .image {
        border-radius: 10px;
      }
  
      &:hover {
        transform: scale(1.03);
      }
    }
  }



@media(min-width: $small) {
  .card {
    width: 180px;

    .imageContainer {
      width: 180px;
      height: 280px;
    }
  }
}

@media (min-width: $medium) {
  .card {
    .preview {
      opacity: 1;
    }
  }
}
