$small: 480px;
$medium: 768px;
$large: 1400px;

.container {
  padding: 5vw 5vw;  
}

.body {
    display: flex;
    flex-direction: column;

    .bodyHeader {
        margin-top: 2rem;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        background-color: #151F2E;
        border-radius: 10px;
        .imageContainer {
          min-width: 190px;
          min-height: 280px;
          position: relative;
          border-radius: 20px;
          transition: transform .3s;
          margin-right: 2rem;
      }

      
        .headerTextContainer {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          height: unset;
          width: 100%;
          h1 {
          margin-top: 0rem;
          }

          .synopsis {
            line-height: 1.6;
            font-size: clamp(0.5rem, calc(0.75rem + 0.25vw), 1.2rem);
            margin: 0;
            overflow: auto;
            display: none;
          }
      }
    }

    .headerTextContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        h1 {
          margin-top: 0rem;
          display: flex;
          align-items: center;
          font-size: clamp(1.3rem, calc(1.3rem + 0.5vw), 2rem);
          a {
            font-size: 1rem;
            color: rgb(202, 199, 199);
            transition: all 0.3s ease-in-out;
            :hover {
              color: white;
            }
          }
        }


        .subHeader {
            font-size: clamp(0.5rem, calc(0.5rem + 0.5vw), 1.2rem);
            display: flex;
            margin-bottom: 2rem;
            span {
              margin-right: 1rem;
              font-weight: bold;
              font-size: 1.3rem;
              font-size: clamp(0.6rem, calc(0.6rem + 0.5vw), 1.3rem);

            }
        }
    }

    .infoContainer {
        display: flex;
        margin-top: 1rem;    
        
        .info {
          margin-right: 2rem;
          background-color: #151F2E;
          border-radius: 10px;
          padding: 2rem;
          
          .infoColumn {
            margin-bottom: 1rem;
            h3 {
              margin: 0 0 0.1rem 0;
              font-size: 1rem;

            }
            div {
              font-size: 0.8rem;
            }
          }
        }
    }
}

.descriptionContainer {
  background:#151F2E;
  padding: 1rem 2rem;
  margin-top: 1rem;
  display: unset;
  line-height: 1.6;
  font-size: clamp(0.7rem, calc(0.6rem + 0.5vw), 1.2rem);

}

  
  // .grid {
  //   display: grid;
  //   grid-template-columns: repeat(2, 1fr);
  //   gap: 2rem;
  //   padding: 2rem;
  // }
  
  // .titleContainer {
  //   display: flex;
  //   align-items: center;
  //   justify-content: space-between;
  //   a {
  //     color: #fff;
  //     background: none;
  //     outline: none;
  //   }
  // }
  
  @media (min-width: $medium) {
    .container {
      padding: 5vw 7vw;
    }

    .bodyHeader {
      flex-direction: unset !important;

    }

    .headerTextContainer {
      height: 280px !important;
    }

    .synopsis {
      display: unset !important;
    }

    .descriptionContainer {
      display: none;
    }

    .subHeader {
      flex-direction: row !important;
    }
  
    .grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  @media (min-width: $large) {
    .container {
      padding: 1vw 10vw;
      padding-bottom: 3vw;
    }
    .grid {
      grid-template-columns: repeat(6, 1fr);
    }
  }