
  
.container {
    padding: 2vh 10vw;
    .grid {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 2rem 1rem;
        padding: 2rem;
        margin-top: 2rem;
      }
}


  