$small: 480px;
$medium: 768px;
$large: 1400px;

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    .leftContainer {
      display: flex;
    }

    .rightContainer {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;

      :nth-child(3) {
        display: none;
      }

      > button {
        font-size: 1.2rem;
        border: none;
        background-color: transparent;
        transition: all 0.3s ease-in-out;
        :hover, &.active {
          color: white;
          cursor: pointer;
        }
      }
    }
  }

  @media (min-width: $medium) {
    .row {
      .rightContainer{ 
        :nth-child(3) {
          display: block;
        }
      }
    }
  }