html,
body {
  padding: 0;
  margin: 0;
  font-family: ‘Nunito’, sans-serif;
  background: #0B1622;
  color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
