.container {
  padding: 1vw 5vw;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  padding: 2rem;
  transition: all 0.3s ease-in-out;
}

.titleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.3rem;
  .viewMoreBtn {
    color: #647380;
    cursor: pointer;
    background: transparent;
    outline: none;
    border: none;
    font-size: 2rem;
    padding: 0;
    height: 2rem;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
    &:hover {
      color: #fff;
    }
  }
}

.infoGrid {
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

.horizontalGrid {
  grid-template-columns: 1fr;
}

@media (min-width: 800px) {
  .container {
    padding: 1vw 7vw;
  }

  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1400px) {
  .container {
    padding: 1vw 10vw;
  }
  .grid {
    grid-template-columns: repeat(6, 1fr);
  }
}