$small: 480px;
$medium: 768px;
$large: 1400px;

.container {
  padding: 8vw;
}

.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
  padding: 1rem;
  transition: all 0.3s ease-in-out;
  justify-items: center;
}

.titleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.3rem;

  h1 {
    font-size: clamp(2.5rem, 2.5vw, 3.5rem);
  }

  .viewMoreBtn {
    color: rgb(175, 175, 175);
    cursor: pointer;
    background: transparent;
    outline: none;
    border: none;
    font-size: 2rem;
    padding: 0;
    height: 2rem;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
    &:hover {
      color: #fff;
    }
  }
}

.infoGrid {
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

.horizontalGrid {
  grid-template-columns: 1fr;
}


@media (min-width: $medium) {
  .container {
    padding: 5vw 7vw;
  }

  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: $large) {
  .container {
    padding: 5vw 10vw;
  }
  .grid {
    grid-template-columns: repeat(6, 1fr);
  }
}