$small: 480px;
$medium: 768px;
$large: 1400px;

.inputContainer {
    background: #151F2E;
    padding: 0.5rem 0.75rem;
    display: flex;
    align-items: center;
    border-radius: 10px;
    position: relative;

    .input {
        background: #151F2E;
        border: none;
        color: white;
        margin-left: 0.3rem;
        outline: none;
        font-size: clamp(0.4rem, 1vw, 1.1rem);
        
    }
    button {
        background: #151F2E;
        border: none;
        cursor: pointer;        
    }
}


@media (min-width: $small) {
    .inputContainer {
        padding: 0.75rem 1rem;
    }
}