$small: 480px;
$medium: 768px;
$large: 1400px;

.recommendationContainer {
    width: 100%;
    .titleContainer {
        display: flex;
        align-items: center;
        justify-content: space-between;

    }
    
    
    .recommendationGrid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        grid-template-rows: 1fr;
        gap: 1rem;
        justify-items: center;
        max-height: 22.5rem;
        overflow: hidden;
        transition: all 0.3s ease-in-out;

        // grid-template-columns: repeat(10, 1fr);

    }

    .showMore {
        max-height: unset;
        overflow: unset;
    }
}
